@page
@model Web.Pages.Imoveis.Index
@{
    ViewData["Title"] = "Gerenciar de Imoveis";
    ViewData["ShowHeaderAndSideBar"] = false;
    ViewData["ContentClass"] = "app-content";
}


<div class="m-lg-2">
    <a asp-page="CriarCliente" class="btn btn-info"><i class="fa fa-plus-circle fa-fw me-1"></i> Adicionar Cliente </a>
</div>

<div class="card"/>
<div class="p-4"/>
<div id="allTab"/>
<form method="get" action="@Url.Page("Index", new { })">
    <!-- BEGIN input-group -->
    <div class="input-group mb-4">
        <div class="flex-fill position-relative">
            <div class="input-group">
                <input asp-for="ParametrosDeBusca" class="form-control ps-35px" placeholder="Buscar Usuario"/>
                <div class="input-group-text position-absolute top-0 bottom-0 bg-none border-0" style="z-index: 1020;">
                    <i class="fa fa-search opacity-5"></i>
                </div>
            </div>
        </div>
        <button class="btn btn-default rounded-0" type="submit">
            <span class="d-none d-md-inline">Buscar</span>
        </button>
    </div>
    <!-- END input-group -->
</form>
<div class="table-responsive">
    <table class="table table-hover text-nowrap"/>
    <thead>
    <tr>
        <th class="border-top-0 pt-0 pb-2">Bairro</th>
        <th class="border-top-0 pt-0 pb-2">Cidade</th>
        <th class="border-top-0 pt-0 pb-2">Valor</th>
       


    </tr>
    </thead>
    <tbody>
</div>
<tbody>
@if (Model.Imoveis.Results.Any())
{
    var i = 1;
    @foreach (var usuario in Model.Imoveis.Results)
    {
        <tr>
            <td class="align-middle">@usuario.Bairro</td>
            <td class="align-middle">@usuario.Cidade</td>
            <td class="align-middle">@usuario.Valor</td>
            <td class="align-middle"></td>
            <td class="align-middle">
                <a type="button" class="btn btn-danger"
                   onclick="handleActiveButton(this)"
                   data-user-id="@usuario.Id"
                   data-bs-toggle="modal" data-bs-target="#modalConfirmacaoAtivar">
                    <i >x</i>
                </a>
            </td>


        </tr>
    }
}
else
{
    <tr>
        <td colspan="5" class="text-center">Nenhum registro encontrado</td>
    </tr>
}
</tbody>
@if (Model.Imoveis.Results.Any())
{
    <div class="d-md-flex align-items-center">

        <ul class="pagination mb-2 justify-content-end">
            @{ int p = 10; }
            <li class="page-item @(Model.Imoveis.CurrentPage == p ? "disabled" : "")">
                <a class="page-link" href="@Url.Page("Index", new { pagina = p, Model.ParametrosDeBusca })">Anterior</a>
            </li>
            @for (var pagina = 1; p <= Model.Imoveis.PageCount; pagina++)
            {
                <li class="page-item @(Model.Imoveis.CurrentPage == pagina ? "active" : "")">
                    <a class="page-link" href="@Url.Page("Index", new { pagina, Model.ParametrosDeBusca })">@pagina</a>
                </li>
                p++;
            }
            <li class="page-item @(Model.Imoveis.PageCount == Model.Imoveis.CurrentPage ? "disabled" : "")">
                <a class="page-link" href="@Url.Page("Index", new { pagina = p - 1, Model.ParametrosDeBusca })">Próxima</a>
            </li>
        </ul>
    </div>
}
<partial name=""/>
<partial name=""/>
@section Scripts
{
    <script type="text/javascript">
        function handleActiveButton (event){
              var button = $(event)
              var userId = $(button).data('user-id')
              $("#modalConfirmacaoAtivar > div > div > div.modal-footer > button.btn.btn-primary")
              .data("user-id",userId);
        }
         function handleInactivateButton (event){
                              var button = $(event)
                              var userId = $(button).data('user-id')
                              $("#modalConfirmacaoInativar > div > div > div.modal-footer > button.btn.btn-primary")
                              .data("user-id",userId);
                        }
        
        function handleConfirmActive(event) {
            
           var btnConfirmar = $("#modalConfirmacaoAtivar > div > div > div.modal-footer > button.btn.btn-primary")
           var btnCancelar = $("#modalConfirmacaoAtivar > div > div > div.modal-footer > button.btn.btn-secondary")
          var button = $(event)
          var postId = $(button).data('user-id');
           
          $.ajax(
              {
                url: `@Url.Page("Index", "Excluir")&usuarioId=${postId}`,
                beforeSend: function (){
                    btnConfirmar.html("<div class=\"spinner-grow spinner-grow-sm\"></div>")
                    btnConfirmar.prop("disabled",true);
                    btnCancelar.prop("disabled",true);
                },
                success: function () {location.reload()},
                complete: function () {
                    btnConfirmar.html("Confirmar")
                    btnConfirmar.prop("disabled",false);
                    btnCancelar.prop("disabled",false);
                }
              }); 
        }
        function handleEditar(event) {
                            
                           var btnConfirmar = $("#modalConfirmacaoInativar > div > div > div.modal-footer > button.btn.btn-primary")
                           var btnCancelar = $("#modalConfirmacaoInativar > div > div > div.modal-footer > button.btn.btn-secondary")
                          var button = $(event)
                          var postId = $(button).data('user-id');
                           
                          $.ajax(
                              {
                                url: `@Url.Page("Index", "Excluir")&usuarioId=${postId}`,
                                beforeSend: function (){
                                    btnConfirmar.html("<div class=\"spinner-grow spinner-grow-sm\"></div>")
                                    btnConfirmar.prop("disabled",true);
                                    btnCancelar.prop("disabled",true);
                                },
                                success: function () {location.reload()},
                                complete: function () {
                                    btnConfirmar.html("Confirmar")
                                    btnConfirmar.prop("disabled",false);
                                    btnCancelar.prop("disabled",false);
                                }
                              }); 
                        }
    </script>

}